<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">სახელი</th>
      <th scope="col">ადგილმდებარეობა</th>
      <th scope="col">ფასი</th>
      <th scope="col">ოპერაციები</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <th scope="row">{{ country.id }}</th>
      <td>
        <img
          [src]="
            'https://upload.wikimedia.org/wikipedia/commons/' + country.flag
          "
          class="me-2"
          style="width: 20px"
        />
        {{ country.name }}
      </td>
      <td>{{ country.area | number }}</td>
      <td>{{ country.population | number }}</td>
      <td class="button_data">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteItem(country)"
        >
          წაშლა
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Pagination -->
<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshItems()"
  >
  </ngb-pagination>
</div>
