<div class="inventory_container">
  <div
    class="filter_&_button_wrapper d-flex w-100 align-items-center justify-content-between"
  >
    <div class="add_button">
      <button type="button" class="btn btn-primary my-3" routerLink="/add-item">
        Add Item
      </button>
    </div>
    <div
      class="filter d-flex align-items-center justify-content-between flex-column"
    >
      <label for="location" class="location_text">ადგილმდებარეობა</label>
      <select
        id="location"
        [(ngModel)]="filterTerm"
        (change)="fetchInventory()"
        class="form-select"
      >
        <option [selected]="filterTerm === 'all'" value="all">ყველა</option>
        <option value="მთავარი ოფისი">მთავარი ოფისი</option>
        <option value="კავეა გალერია">კავეა გალერია</option>
        <option value="კავეა თბილისი მოლი">კავეა თბილისი მოლი</option>
        <option value="კავეა ისთ ფოინთი">კავეა ისთ ფოინთი</option>
        <option value="კავეა სითი მოლი">კავეა სითი მოლი</option>
      </select>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="setSortField('name')" class="name_col">
          სახელი

          <span *ngIf="sortFieldName === 'name' && sortDirection === 'ASC'"
            >&uarr;</span
          >
          <span *ngIf="sortFieldName === 'name' && sortDirection === 'DESC'"
            >&darr;</span
          >
        </th>
        <th scope="col">ადგილმდებარეობა</th>
        <th scope="col" (click)="setSortField('price')" class="price_col">
          ფასი
          <span *ngIf="sortFieldName === 'price' && sortDirection === 'ASC'"
            >&uarr;</span
          >
          <span *ngIf="sortFieldName === 'price' && sortDirection === 'DESC'"
            >&darr;</span
          >
        </th>
        <th scope="col">ოპერაციები</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemsToDisplay">
        <th scope="row">{{ item.id }}</th>
        <td>
          {{ item.name }}
        </td>
        <td>{{ item.location }}</td>
        <td>{{ item.price | number }} ₾</td>
        <td class="button_data">
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteItem(item)"
          >
            წაშლა
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex align-items-center p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshItems()"
    >
    </ngb-pagination>
    <div class="px-5 d-flex">
      <p>total items:</p>
      <span class="px-2">{{ items.length }}</span>
    </div>
  </div>
</div>
